/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Full Page Styles */

:root {
  font-size: 16px;
  --lightpink: rgb(209, 12, 239);
  --darkpink: rgb(60, 2, 69);
  --darkgray: #1d1d1d;

}

@font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url('/assets/fonts/Montserrat-VF.woff2') format('woff2');
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
    "sidebar main";
    font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
    font-weight: 400;
}

/* Sidebar */

#sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    gap: 20px;
    background-color: var(--darkpink);
}

#sidebar picture,
#sidebar p,
#sidebar img,
#home {
    background-color: var(--darkpink);
}

#sidebar h1 {
    position: relative;
    left: clamp(-8px, 2vw, -20px);
    width: 80%;
}

#main-pages,
#plumbing {
  left: -20px;
}

.page-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(2px, 1vw, 8px);
    text-decoration: none;
    color: white;
    width: 80%;
    margin-top: 10px;
}

.page-link img {
  width: 24px;
  min-width: 24px;
}

.page-link p {
  font-size: 1.25rem;
}

/* Header */
/* Top Row */

#header-top-row,
#nav-left-side,
#nav-right-side,
#profile-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#header-top-row {
  background-color: var(--darkgray);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Left Side */
#nav-left-side {
  width: 50%;
}

#nav-left-side > form > button {
  background-color: var(--darkgray);
  border: none;
  margin-bottom: 4px;
}

#nav-left-side > form {
  display: flex;
  align-items: center;
}

#nav-left-side > form > input {
  border-radius: 20px;
  font-size: 1.2rem;
  width: 100%;
  
}

input[type="search"] {
  padding-left: 10px;
  min-width: max(20vw, 200px)
} 

/* Right side */
#nav-right-side {
  gap: 20px;
}

#profile-section a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--lightpink);
  font-size: 0.9rem;
  font-weight: 550;
}

/* Bottom Row */
#header-bottom-row {
  background-color: var(--darkgray);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

/* Left */

#greeting {
  display: flex;
  align-items: center;
}

#greeting picture {
  width: min(20vw, 100px);
}

#greeting img {
  width: 100%;
}

#greeting h2 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

#greeting-text {
  min-width: 0;
}

/* Right */

#commands {
  display: flex;
  gap: 15px;
  padding-right: 20px;
}


header {
    grid-area: header;
}

main {
    grid-area: main;
}

